:root {
    --fist-color: #a5c882;
    --second-color: #d33f49;
    --third-color: #e7e7e7;
    --white-color: #fff;
    --black-color: #000;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*::first-letter{
    text-transform: capitalize;
}

body {
    font-family: 'Roboto Slab', serif;
    height: 100vh;
    background-color: var(--third-color);
}

h1{
    margin: 0;
}

form {
    margin: 20px 0;
}

input{
    background-color: var(--third-color);
    border: none;
    padding: 7px;
    /* padding-left: 10px; */
}

input:focus{
    outline: none;
}

button{
    background-color: var(--second-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
    padding: 7px;
}

.roundBorder {
    border-radius: 5px;
}

.container {
    background-color: var(--white-color);
    margin: 25px auto;
    padding: 25px;
    width: 100%;
    max-width: 320px;
}

.task {
    background-color: var(--fist-color);
    color: var(--white-color);
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.done{
    background-color: var(--third-color);
    text-decoration: line-through;
    color: var(--black-color);
}